body{
	font-family:'Courier New'
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.calculadora{

	padding: 10px;
	background-color: black;
	display: flex;
	align-items:  center;
	justify-content: center;
	border-radius: 7px;
	opacity: .7;
}

#show{
	background-color:lightblue;
	color:white;
	text-align: center;
	border-radius: 7px;
	opacity: 0.9;
}

.but{
	width:40px;
	height: 40px;
}

.tipo{
	margin:20px;
}
























/*-----------------------------------------------------------------------------*/

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e4b67;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 44%;
    left: 55%;
    animation-duration: 12s;
    animation-delay: -22s;
    transform-origin: 0vw -1vh;
    box-shadow: -40vmin 0 5.794339270343939vmin currentColor;
}
.background span:nth-child(1) {
    color: #86723c;
    top: 6%;
    left: 40%;
    animation-duration: 20s;
    animation-delay: -45s;
    transform-origin: -20vw -7vh;
    box-shadow: 40vmin 0 5.775428955124729vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 85%;
    left: 48%;
    animation-duration: 30s;
    animation-delay: -4s;
    transform-origin: 8vw 4vh;
    box-shadow: 40vmin 0 5.849432817335826vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 29%;
    left: 56%;
    animation-duration: 9s;
    animation-delay: -10s;
    transform-origin: -1vw -6vh;
    box-shadow: 40vmin 0 5.119946602997658vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 84%;
    left: 69%;
    animation-duration: 22s;
    animation-delay: -30s;
    transform-origin: -24vw 12vh;
    box-shadow: -40vmin 0 5.9742224543519225vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 34%;
    left: 87%;
    animation-duration: 20s;
    animation-delay: -34s;
    transform-origin: -1vw -13vh;
    box-shadow: 40vmin 0 5.961751785808973vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 14%;
    left: 66%;
    animation-duration: 30s;
    animation-delay: -47s;
    transform-origin: 2vw -8vh;
    box-shadow: -40vmin 0 5.0786016917764vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 91%;
    left: 19%;
    animation-duration: 22s;
    animation-delay: -26s;
    transform-origin: -19vw -22vh;
    box-shadow: 40vmin 0 5.5138054589709276vmin currentColor;
}
.background span:nth-child(8) {
    color: #86723c;
    top: 11%;
    left: 12%;
    animation-duration: 36s;
    animation-delay: -5s;
    transform-origin: 7vw -20vh;
    box-shadow: -40vmin 0 5.360093216594248vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 42%;
    left: 78%;
    animation-duration: 30s;
    animation-delay: -31s;
    transform-origin: 3vw 7vh;
    box-shadow: -40vmin 0 5.27741592360131vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 40%;
    left: 38%;
    animation-duration: 46s;
    animation-delay: -23s;
    transform-origin: -4vw 23vh;
    box-shadow: 40vmin 0 5.9339711004678vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 77%;
    left: 36%;
    animation-duration: 13s;
    animation-delay: -19s;
    transform-origin: 0vw 11vh;
    box-shadow: -40vmin 0 5.927391307735617vmin currentColor;
}
.background span:nth-child(12) {
    color: #86723c;
    top: 29%;
    left: 23%;
    animation-duration: 38s;
    animation-delay: -48s;
    transform-origin: -17vw 8vh;
    box-shadow: 40vmin 0 5.946996861456716vmin currentColor;
}
.background span:nth-child(13) {
    color: #86723c;
    top: 86%;
    left: 51%;
    animation-duration: 31s;
    animation-delay: -22s;
    transform-origin: -17vw 6vh;
    box-shadow: -40vmin 0 5.6337139728766354vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 89%;
    left: 1%;
    animation-duration: 20s;
    animation-delay: -4s;
    transform-origin: 11vw 1vh;
    box-shadow: 40vmin 0 5.683521344825994vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 21%;
    left: 37%;
    animation-duration: 14s;
    animation-delay: -28s;
    transform-origin: -10vw 1vh;
    box-shadow: -40vmin 0 5.597260400615953vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 48%;
    left: 78%;
    animation-duration: 14s;
    animation-delay: -17s;
    transform-origin: 21vw -23vh;
    box-shadow: -40vmin 0 5.002421847584214vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 48%;
    left: 82%;
    animation-duration: 15s;
    animation-delay: -38s;
    transform-origin: -5vw 10vh;
    box-shadow: -40vmin 0 5.106218669658057vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 80%;
    left: 64%;
    animation-duration: 19s;
    animation-delay: -1s;
    transform-origin: -3vw 18vh;
    box-shadow: -40vmin 0 5.647178064522823vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 3%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -9s;
    transform-origin: 24vw 6vh;
    box-shadow: 40vmin 0 5.445618521420526vmin currentColor;
}
/*-------------------------------------------------------*/